:root {
  --row-height: 100px;
  --font-size: 48px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

.main-input-row {
  display: flex;
  align-items: center;

  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
}

label {
  display: inline-block;

  width: 200px;
  height: var(--row-height);

  font-size: var(--font-size);
  text-align: center;
  line-height: var(--row-height);

  margin: 0 20px;
  border: 1px solid black;
}

  .live-input label {
    background-color: #CCFFCC;
  }

input[type=number] {
  width: 200px;
  height: var(--row-height);
  font-size: var(--font-size);
  padding: 10px;
}
